html,
button,
input,
select,
textarea {
    color: #222;
}

body{
  font-family:Helvetica, Arial, Verdana;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 60px solid #e44d26;
}

.main-container aside{
  border-top: 20px solid #e44d26;
}

.header-container, .main-container aside{
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ==============

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
*/
/* ==============
    MOBILE: Main
   ============== */

.main-container {
    padding: 30px 0;
}

.main-container aside{
  color: white;
  padding: 0px 2% 5px;
}

footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

#test-memorygame {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main-container aside{
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    /*nav {
        float: right;
        width: 38%;
    }
    */

/* ============
    WIDE: Main
   ============ */

    .main-container {
        float: left;
        width: 57%;
    }

    .main-container aside {
        margin: -600px -300px;
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

.wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
    
#memorygame{
  margin:auto;
  width:780px;
}
    
.text-style1{
  font-size:14pt;
  color:#56605f;
  font-weight:normal;
  text-shadow: 1px 1px 1px #fff;
  margin:0;
  line-height:24pt;
}


/* the stle for the wrapper element */
.test-memorygame{
  position:relative;
  width:100%;
}

/* styles of the card to show */
.test-memorygame .mgcard-show{
  width:165px;
  height:200px;
  background:url('back.png');
}

.test-memorygame .mg-item{
  position:absolute;
  cursor:pointer;
  text-align:center;
}

.test-memorygame .mg-item .mg-item-bottom, .test-memorygame .mg-item .mg-item-top{
  position:absolute;
  top:0;
  left:0;
  text-align:center;
}

.mg-item .mg-item-top{
  background:url('back.png');
}

/* styles for the popup notifications */
.mg-notification-fly{
  width:90px;
  height:90px;
  position:absolute;
  z-index:1000;
  display:none;
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.mg-notification-fly-neg{
  background:url('img/mg-notif-neg.png');
}

.mg-notification-fly-pos{
  background:url('img/positive.png');
}

/* styles for the game summary */
#game-summary {
  width:300px;
  height:120px;
  position:absolute;
  z-index:1001;
  background: #515b69;
  box-shadow: rgba(0,0,0,0.7) 0 0 4px, inset 0 0 20px rgba(0, 0, 0, 0.4);
  border:1px solid #000;
  cursor:pointer;
  display:none;
}

#game-summary div{
  width:75px;
  float:left;
  padding:10px 0 10px 20px;
  color:#fff;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  text-align:center;
}

#game-summary #gs-column1{
  font-size:16px;
  padding-top:30px;
}

#game-summary #gs-column2{
  font-size:12px;
  padding-top: 65px;
  background:url('img/mg-timeicon.png') no-repeat 70% 25%;
}

#game-summary #gs-column3{
  font-size:12px;
  padding-top: 65px;
  background:url('img/mg-clickicon.png') no-repeat 70% 25%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}